<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <script src="/javascripts/jquery-2.0.2.min.js"></script>
  <script src="/javascripts/jquery.upvote.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style type="text/css">
    <!--
    .hidden {
      display: none;
    }
    .examples {
      overflow: auto;
    }
    .examples div.upvote {
      float: left;
    }
  -->
</style>
<script type="text/javascript">
        function gen(target, cssClass, params) {
            var obj = $('#templates .upvote').clone();
            obj.addClass(cssClass);
            $(target).append(obj);
            return obj.upvote(params);
        }

        $(function() {
                function gen_examples(params) {
                    gen('#examples', '', params);
                }
                var functions = [gen_examples];
                for (var i in functions) {
                    var fun = functions[i];
                    fun();
                    fun({count: 5});
                    fun({count: 6, upvoted: 1});
                    fun({count: 4, downvoted: 1});
                    fun({count: 15});
                    fun({count: 16, upvoted: 1});
                    fun({count: 14, downvoted: 1});
                }
        });
    </script>
</head>
<body>
  <h1><%= title %></h1>

  <div><%= message %></div><br>

  <p>Pinn Information</p>

  <div class="container">
        <div class="row">
            <div class="span6">
                <h3>PinndIt</h3>
                <div class="examples" id="examples"></div>
            </div>

        </div>
    </div>
    <div id="templates" class="hidden">
        <div class="upvote">
            <a class="upvote" title="Great Event!"></a>
            <span class="count" title="Net votes"></span>
            <a class="downvote" title="This sucks!"></a>
        </div>
    </div>

  Event Name: <input id="event-name" type="text" name="event-name" readonly> <br>
  Event Description:  <input id="event-description" type="text" name="event-description" readonly> <br>

  Comment: <input id= "submit" type="text" size="15">
  <button name="send" id= "send" class="send">Submit</button>


  <ul style="list-style: none" id="chat">


    <!-- Fill in with the posts from server. -->
  </ul>
</body>
</html>