<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <img src="/images/PinndItLogo250.png" alt="Logo"> 
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaPH3EcFX_G-bjbb6JIdKwT65_N9mKX7E">
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script type="text/javascript"
            src="/javascripts/pinndit.js">
    </script>
    <script type="text/javascript" 
            src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js">
            </script>
    
</head>
<body>
<div id="map-canvas"></div>
</body>
<br>
<footer align="center">
    Pinnd.It &copy; Copyright 2014
</footer>
</html>