<!DOCTYPE html>
<html>
  <head>
    <title>New Pinn</title>
    <link rel='stylesheet' href='/public/stylesheets/infoWindowStyle.css' />
  </head>
  <body>

    <div id = "iw">

      <p>Pinn Information</p>

      <input id="event-name" type="text" name="event-name"> <br>
      <input id="event-description" type="text" name="event-description"> <br>
      <button name="create-event" id= "create-event" class="create-event">Create Event</button>
      <br>
    </div>

  </body>
</html>